
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug/
*.lib
*.sbr
obj/
tmp/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.hg/
.hgignore
*.scc
*.bak
*.doc
*.xls
*.pdf
*.zip
*.testsettings
*.sdf
*.opensdf
*.vsmdi
UpgradeLog*.xml
UpgradeReport*
ipch/
*.tdl
*.bin
*.filters
*.001
*.dll
*.clw
*.plg
*.lhi
.*~
ComDevInc/Libdll/MiscTool/stiiostream
ComDevInc/_PLEASE GET IT FROM COMDEVINC MAIN_
STDLIBFIX/
Intermediate/
*.VC.opendb
*.VC.db
